<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

<div class="main">
  <h2 class="page-title"><%= t('.sign_up') %></h2>

  <div class="form-wrapper">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <div class="build-num">
        <div class="field">
          <%= f.label :building_num_id, class: "required" %><br />
          <%= f.collection_select(:building_num_id, BuildingNum.where.not(id: 9), :id, :name, {}, selected: 0) %> 
        </div>
        <div class="field">
          <%= f.label :room_num_id, class: "required" %><br />
          <%= f.collection_select(:room_num_id, RoomNum.where.not(id: 41), :id, :name, {}) %>
        </div>
      </div>

      <div class="field">
        <%= f.label :last_name, class: "required" %><br />
        <%= f.text_field :last_name, class: "text-field" %>
      </div>

      <div class="field">
        <%= f.label :first_name, class: "required" %><br />
        <%= f.text_field :first_name, class: "text-field" %>
      </div>
      <div class="field">
        <%= f.label :email, class: "required" %><br />
        <%= f.email_field :email, autocomplete: "email", class: "text-field" %>
      </div>

      <div class="field">
        <%= f.label :password, class: "required" %>
        <em>(6文字以上, 英字と数字の両方を含めてください)</em><br />
        <%= f.password_field :password, autocomplete: "new-password", class: "text-field" %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation, class: "required" %> 
        <em>(上記パスワードをもう一度入力してください)<em><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "text-field" %>
      </div>

      <div class="actions">
        <%= f.submit t('.sign_up'), class: "white-btn btn" %>
      </div>
    <% end %>
    <div class="links">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>