<div class="main">
  <div class="message">
    <%= current_user.last_name %>さん、こんにちは！<br>
    <% if @reservations.present? %>
      現在の予約状況は以下の通りです。<br>
      終了日時を過ぎたものは自動で非表示になります。
    <% else %>
      現在、予約はありません。
    <% end %>
  </div>
  
  <% @reservations.each.with_index(1) do |reservation, index| %>
    <div class="reserv-info-content">
      <div class="info-title">
        予約<%= index %>
      </div>
      <div class="reserv-content-wrapper">
        <div class="left-content">
          <%= render partial: "shared/reserv_info_table", locals: { reservation: reservation } %>
        </div>

        <div class="btn-content">
          <%# 「許可証の申請ボタン」、申請済みなら「許可証表示ボタン」と「申請内容の変更ボタン」 %>
          <% if reservation.certificate.present? %> 
            <%= render partial: "shared/generate_pdf_btn", locals: { 
              reserv_id: reservation.id, 
              certif_id: reservation.certificate.id 
              }
            %>
            <%= render partial: "shared/edit_certificate_btn", locals: { 
              reserv_id: reservation.id, 
              certif_id: reservation.certificate.id 
              }
            %>
          <% else %>
            <%= render partial: "shared/new_certificate_btn", locals: { reserv_id: reservation.id } %>
          <% end %>
          <%# 削除ボタン %>
          <% confirm_msg = "削除後は元に戻せません。\nこの予約を削除しますか？\nよろしければ【OK】ボタンを押してください。" %>
          <%= render partial: "shared/delete_btn", locals: {
                      linked_path: reservation_path(reservation.id), 
                      confirm_msg: confirm_msg
          } %>
        </div>
      </div>
    </div>
  <% end %>
</div>