<div class="main">
  <div class="message">
    <%= current_user.last_name %>さん、こんにちは！<br>
    <% if @reservations.present? %>
      現在の予約状況は以下の通りです。
    <% else %>
      現在、予約はありません。
    <% end %>
  </div>
  
  <% @reservations.each.with_index(1) do |reserv, index| %>
    <div class="reserv-info-content">
      <div class="info-title">
        予約<%= index %>
      </div>
      <div class="reserv-content-wrapper">
        <div class="left-content">
          <table class="reserv-info">
            <tr>
              <th>
                開始日時
              </th>
              <td>
                <%= l reserv[:start_datetime] %>
              </td>
            </tr>
            <tr>
              <th>
                終了日時
              </th>
              <td>
                <%= l reserv[:end_datetime] %>
              </td>
            </tr>
            <tr>
              <th>
                駐車場番号
              </th>
              <td>
                <%= reserv[:park_num] %>番
              </td>
            </tr>
          </table>
        </div>

        <div class="btn-content">
          <% confirm_msg = "削除後は元に戻せません。\nこの予約を削除しますか？\nよろしければ【OK】ボタンを押してください。" %>
          <%= render partial: "shared/delete_btn", locals: {
                      linked_path: reservation_path(reserv.id), 
                      confirm_msg: confirm_msg
          } %>
        </div>
      </div>
    </div>
  <% end %>
</div>