<div class="main">
  <h2 class="page-title">
    利用者情報
  </h2>
  <div class="user-info-content">
    <div class="left-content">
      <table class="user-info">
        <tr>
          <%= tag.th "部屋番号" %>
          <%= tag.td "#{@user.building_num}号棟 #{@user.room_num}号室" %>
        </tr>
        <tr>
          <%= tag.th "登録者氏名" %>
          <%= tag.td "#{@user.last_name} #{@user.first_name}" %>
        </tr>
        <tr>
          <%= tag.th "メールアドレス" %>
          <%= tag.td "#{@user.email}" %>
        </tr>
      </table>
    </div>

    <div class="btn-content">
      <%= render partial: "shared/edit_btn", locals: { linked_path: edit_user_registration_path } %>
      <% confirm_msg = "#{@user.last_name}さん！\n利用者登録を削除すると現在の予約もすべて削除されます。\n本当に削除しますか？\nよろしければ【OK】ボタンを押してください。" %>
      <%= render partial: "shared/delete_btn", locals: {
                          linked_path: user_registration_path, 
                          confirm_msg: confirm_msg
      } %>
    </div>
  </div>

  <div class="mycar-title-wrapper">
    <h3 class="mycar-title">
      車輌情報
    </h3>
  <div class="square btn">
    <span class="material-icons btn-icon">
      add_box
    </span>
    <div class="btn-text">
      <%= link_to "新規登録", new_car_path %>
    </div>
  </div>


    
  </div>
  <% (@user.cars).each do |car| %>
    <div class="mycar-content">
      <%= tag.div car[:nickname] %>
      <table class="mycar-info">
        <tr>
          <%= tag.th "使用車輌（車種）" %>
          <%= tag.td car[:model] %>
        </tr>
        <tr>
          <%= tag.th "車両登録番号"%>
          <%= tag.td car[:license_num] %>
        </tr>
        <tr>
          <%= tag.th "使用者氏名" %>
          <%= tag.td car[:drivers_name] %>
        </tr>
      </table>

      <div class="btn-content">
        <%= render partial: "shared/edit_btn", locals: { linked_path: edit_car_path(car.id) } %>
        <% confirm_msg = "登録車両『#{car.nickname}』を削除しますか？\nよろしければ【OK】ボタンを押してください。" %>
        <%= render partial: "shared/delete_btn", locals: { linked_path: car_path(car.id), confirm_msg: confirm_msg } %>
      </div>
    </div>
  <% end %>
  <%= render partial: "shared/backward_btn", locals: { linked_path: root_path, page: "トップページ" } %>
</div>