<div class="main">
  <h2 class="page-title">
    利用者情報
  </h2>
  <div class="user-info-content">
    <div class="info-title">
      利用者情報
    </div>
    <div class="user-content-wrapper mobile-blocky">
      <div class="left-content">
        <table class="user-info mobile-blocky">
          <tr>
            <%= tag.th "部屋番号" %>
            <%= tag.td "#{@user.building_num.name} #{@user.room_num.name}" %>
          </tr>
          <tr>
            <%= tag.th "登録者氏名" %>
            <%= tag.td "#{@user.last_name} #{@user.first_name}" %>
          </tr>
          <tr>
            <%= tag.th "メールアドレス" %>
            <%= tag.td "#{@user.email}" %>
          </tr>
        </table>
      </div>

      <div class="btn-content">
        <%= render partial: "shared/edit_btn", locals: { linked_path: edit_user_registration_path } %>
        <% confirm_msg = "#{@user.last_name}さん！\n利用者登録を削除すると現在の予約もすべて削除されます。\n本当に削除しますか？\nよろしければ【OK】ボタンを押してください。" %>
        <%= render partial: "shared/delete_btn", locals: {
                            linked_path: user_registration_path, 
                            confirm_msg: confirm_msg
        } %>
      </div>
    </div>
  </div>

  <div class="mycar-title-wrapper mobile-blocky">
    <%= tag.h2 "車両情報", class: "mycar-title" %>
    <div class="rectangular btn short mycar-registration">
      <span class="material-icons btn-icon">
        add_box
      </span>
      <div class="btn-text">
        <%= link_to "新規登録", new_car_path %>
      </div>
    </div>
  </div>

  <% if @user.cars.present? %>
    <% (@user.cars).each do |car| %>
      <div class="mycar-content">
        <div class="info-title">
          <%= tag.div car[:nickname] %>
        </div>
        <div class="mycar-content-wrapper mobile-blocky">
          <div class="left-content">
            <table class="mycar-info mobile-blocky">
              <tr>
                <%= tag.th "使用車輌（車種）" %>
                <%= tag.td car[:model] %>
              </tr>
              <tr>
                <%= tag.th "車両登録番号"%>
                <%= tag.td car[:license_num] %>
              </tr>
              <tr>
                <%= tag.th "使用者氏名" %>
                <%= tag.td car[:drivers_name] %>
              </tr>
            </table>
          </div>

          <div class="btn-content">
            <%= render partial: "shared/edit_btn", locals: { linked_path: edit_car_path(car.id) } %>
            <% confirm_msg = "登録車両『#{car.nickname}』を削除しますか？\nよろしければ【OK】ボタンを押してください。" %>
            <%= render partial: "shared/delete_btn", locals: { linked_path: car_path(car.id), confirm_msg: confirm_msg } %>
          </div>
        </div>
      </div>
    <% end %>
  <% else %>
    <div class="mycar-content">
      現在登録された車両はありません。<br>
      よく利用する車を登録しておくと許可証の申請時に自動入力が利用できます。
    </div>
  <% end %>
  <%= render partial: "shared/backward_btn", locals: { linked_path: root_path, page: "トップページ" } %>
</div>