<%= form_with model: [reservation, certificate], class: "certificate-form", local: true do |f| %>
  <%= render "shared/error_messages", resource: f.object %>

  <%# 既に決まっている情報 %>
  <div class="reserv-info-wrapper">
    <%= render partial: "shared/reserv_info_table", locals: { reservation: reservation } %>
  </div>
  <%# 新たに必要な情報 %>
  <div class="form-contents-wrapper">
    <div class="left-container">
      <%= f.label :dest_id, "訪問先の入力" %><br>
      <%= f.select :dest_id, options_for_select({"自宅" => 1, "[新規で入力]" => 2}), include_blank: "選択してください" %>
    </div>
    <div class="right-container">
      <%= f.label :building_num_id, "部屋番号", class: "required" %><br>
      <div class="build-num">
        <div>
          <%= f.collection_select(:building_num_id, BuildingNum.where.not(id: 9), :id, :name, {}, selected: 0) %>
        </div>
        <div>
          <%= f.collection_select(:room_num_id, RoomNum.all, :id, :name, {}) %>
        </div>
      </div>
      <%= f.label :destination, "訪問先", class: "required" %><br>
      <%= f.text_field :destination, placeholder: "例)✕✕", class: "destination" %>様方
    </div>
  </div>

  <div class="form-contents-wrapper">
    <div class="left-container">
      <%= f.label :car_id, "使用車輌の入力" %><br>
      <%= f.collection_select :car_id, cars, :id, :nickname, include_blank: "選択してください" %>
    </div>
    <div class="right-container">
      <div class="">
        <%= f.label :car_model, "使用車両(車種)", class: "required" %><br>
        <%= f.text_field :car_model, placeholder: "例)HONDA プリウスなど" %>
      </div>
      <div class="">
        <%= f.label :license_num, "車両登録番号", class: "required" %><br>
        <%= f.text_field :license_num, placeholder: "例)習志野●● あ 00-00など" %>
      </div>
      <div class="">
        <%= f.label :drivers_name, "使用者氏名(運転手)", class: "required" %><br>
        <%= f.text_field :drivers_name %>
      </div>
    </div>
  </div>
  <%= f.submit "申請", class: 'white-btn btn' %>
<% end %>
