<header>
  <div class="header-wrapper">
    <div class="title">
      <%= link_to "ABCマンション 来客用駐車場予約アプリ", root_path %>
    </div>
    <ul class="menu-bar">
      <% if user_signed_in? %>
        <li><%= link_to "予約表", reservations_path %></li>
        <li><%= link_to "利用者情報", user_path(current_user.id) %></li>
        <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
      <% else %>
        <li><%= link_to "新規登録", new_user_registration_path %><li>
        <li><%= link_to "ログイン", new_user_session_path %><li>
      <% end %>

    </ul>
  </div>
</header>