<div class="main">
  <h2 class="page-title">内容の確認</h2>
  <p class="message">
    内容に間違いがなければ、確定ボタンを押してください。
  </p>

  <div class="reserv-form">
    <div class="reserv-info-wrapper">
      <%= render partial: "shared/reserv_info_table", locals: { reservation: @reservation } %>
    </div>
    <%= form_with model: @reservation, local: true, class: "confirm-form" do |f| %>
      <%= f.hidden_field :start_datetime %>
      <%= f.hidden_field :end_datetime %>
      <%= f.hidden_field :park_num %>
      <%= f.submit '戻る', name: :back, class: "colored-btn btn" %>
      <%= f.submit '確定', class: "white-btn btn" %>
    <% end %>
  </div>
</div>