<div class="main">
  <h2 class="page-title">予約確認</h2>
  <p class="message">
    内容に間違いがなければ、確定ボタンを押してください。
  </p>
  <div class="reserv-form">
    <div class="form-content">
      <label>開始日時</label>
      <%= l @reservation.start_datetime %>
    </div>
    <div class="form-content">
      <label>終了日時</label>
      <%= l @reservation.end_datetime %>
    </div>
    <div class='form-content'>
      <label>駐車場番号</label>
      <%= @reservation.park_num %>番
    </div>

    <%= form_with model: @reservation, local: true do |f| %>
      <%= f.hidden_field :start_datetime %>
      <%= f.hidden_field :end_datetime %>
      <%= f.hidden_field :park_num %>
      <%= f.submit '確定', class: "submit btn" %>
      <%= f.submit '戻る', name: :back, class: "backward btn" %>
    <% end %>
  </div>
</div>