<h1>Top Page</h1>

<%# 挙動確認のため便宜的に配置 %>
<% if user_signed_in? %>
  <%= current_user.last_name %><%= current_user.first_name %>さん、こんにちは！
  <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
<% else %>
  <%= link_to "新規登録", new_user_registration_path %>
  <%= link_to "ログイン", new_user_session_path %>
<% end %>
<%# //挙動確認のため便宜的に配置 %>
