<div class="main">
  <h2 class="page-title">予約日時の入力</h2>
  <p class="message">
    項目を入力して予約ボタンを押してください。
  </p>
  <%= form_with model: @reservation, url: confirm_reservations_path, class: "reserv-form", local: true do |f| %>
    <%= render "shared/error_messages", resource: f.object %>
    
    <div class="form-content">
      <%= f.label :start_datetime, '開始日時', class: 'required' %><br/>
      <%= f.datetime_select :start_datetime, discard_minute: true %>:00から
    </div>
    <div class="form-content">
      <%= f.label :end_datetime, '終了日時', class: 'required'%><br/>
      <%= f.datetime_select :end_datetime, discard_minute: true %>:59まで
    </div>
    <div class='form-content'>
      <div class='required'>駐車場番号</div>
      <% (1..4).each do |num| %>
        <div class="radio-btn">
        <%= f.radio_button :park_num, num %>
        <%= f.label ":park_num_#{num}", "#{num}番" %>
        </div>
      <% end %>
    </div>
    <%= f.submit '確認画面へ', class: 'colored-btn btn', id:'reserv_submit' %>
  <% end %>
  <%= render partial: "shared/backward_btn", locals: { linked_path: reservation_path(@reservation[:start_datetime].beginning_of_day), page: "時間選択ページ" } %>
</div>