<div class="main">
  <p class="message">
    予約開始時間の枠をクリックまたはタップしてください。<br/>
    1回の予約で確保できるのは最大24時間です。
  </p>

  <%# ナビゲータ %>
  <div class="timetable-heading">
    <div class="prev-day">    
      <%= link_to "<< 前日を表示", reservation_path(@dtime.yesterday) %>
    </div>
    <div class="timetable-title">
      <%= tag.span l @dtime, format: :year %><br>
      <%= l @dtime, format: :date %>
    </div>
    <div class="next-day">
      <%= link_to "翌日を表示 >>", reservation_path(@dtime.tomorrow) %>
    </div>
  </div>

  <%# テーブルの描画 %>
  <div class="timetable-container js-scrollable">
    <table class="timetable">
      <thead>
        <tr>
          <%= tag.th class: "hours-cell" %>
          <% 24.times do |hour| %>
            <%= tag.th(class: "hours-cell") {tag.div hour, class: "hour-label"} %>
          <% end %>
          <%= tag.th(class: "hours-cell") {tag.div 0, class: "hour-label"} %>
        </tr>
      </thead>

      <tbody>
        <% (1..4).each do |num| %> 
          <tr>
            <th class="p_num-wrapper"> 
              <%= tag.div(num, class: "p_num_label p_num_#{num}") %>
            </th>
            <% 24.times do |hour| %>
              <td class="cell">
                <% if check_reservation(@reservations[num - 1], @dtime, hour) %>
                  <%= tag.div "✕", class: "reserved_bar p_num_#{num}" %>
                <% else %>
                  <%= button_to "○", new_reservation_path, method: :get, class: "time-submit", params: {park_num: num, start_datetime: (@dtime + hour.hour)} %>
                <% end %>
              </td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <%= render partial: "shared/backward_btn", locals: { linked_path: reservations_path(@dtime), page: "カレンダーページ" } %>
</div>