<div class="main main-widen">
  <%= tag.h2 "予約一覧", class: "page-title" %>

  <div class="all-list-table-container js-scrollable sortable-table">
    <table class="all-list-table">
      <tr>
        <%= tag.th "No." %>
        <%= tag.th "駐車場" %>
        <%= tag.th "開始日時" %>
        <%= tag.th "終了日時" %>
        <%= tag.th "部屋番号" %>
        <%= tag.th "予約者" %>
        <%= tag.th "予約作成日時" %>
        <%= tag.th "許可証申請" %>
      </tr>
      <% @reservations.each do |reservation| %>
        <tr>
          <%= tag.td reservation.id, class: "center-text" %>
          <%= tag.td reservation.park_num, class: "center-text" %>
          <%= tag.td l reservation.start_datetime %>
          <%= tag.td l reservation.end_datetime %>
          <%= tag.td "#{reservation.user.building_num}-#{reservation.user.room_num}", class: "center-text" %>
          <%= tag.td "#{reservation.user.last_name} #{reservation.user.first_name}" %>
          <%= tag.td l reservation.created_at %>
          <td>
            <% if reservation.certificate.present? %>
              <%= link_to '○', '#', class: "center-text" %>
            <% else %>
              <%= tag.p '✕', class: "center-text" %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
</div>