<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=devise-width, initial-scale=1.0"> 
    <title>ABCマンション(仮)来客用駐車場予約アプリ トットコ!</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= include_gon %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%# google Fontの導入 %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;400;500;700;900&display=swap" rel="stylesheet">
    <%# material iconの導入 %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons%7CMaterial+Icons+Outlined" rel="stylesheet">
    <%# scroll-hintの導入 %>
    <link rel="stylesheet" href="https://unpkg.com/scroll-hint@1.1.10/css/scroll-hint.css">
    <script src="https://unpkg.com/scroll-hint@1.1.10/js/scroll-hint.js"></script>
  </head>

  <body class="layout">
    <div class="contents-wrapper">
      <% if user_signed_in? && current_user.admin? %>
        <%= render partial: 'shared/header_admin' %>
      <% elsif user_signed_in? %>
        <%= render partial: 'shared/header' %>
      <% end %>
      <div class="main-wrapper">
        <%= yield %>
      </div>
    </div>
    <%= render partial: 'shared/footer' %>
  </body>
</html>
