<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=devise-width, initial-scale=1.0"> 
    <title>ABCマンション来客用駐車場予約アプリ オサエトコ</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= include_gon %>
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.18.1/build/cssreset/cssreset-min.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%# google Fontの導入 %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;400;700;900&display=swap" rel="stylesheet">
    <%# material iconの導入 %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <%# scroll-hintの導入 %>
    <link rel="stylesheet" href="https://unpkg.com/scroll-hint@1.1.10/css/scroll-hint.css">
    <script src="https://unpkg.com/scroll-hint@1.1.10/js/scroll-hint.js"></script>
  </head>

  <body class="layout">
    <%= render partial: 'shared/header' %>
    <div class="main-wrapper">
      <%= yield %>
    </div>
    <%= render partial: 'shared/footer' %>
  </body>
</html>
